
<div *ngIf="image"></div>

<img src="{{ image.webformatURL }}" />
<div>Id: {{ image.id }}</div>
<div>Tags: {{ image.tags }}</div>
<div>Likes: {{ image.likes }}</div>
<div>Views: {{ image.views }}</div>

<button (click)="goBack()" type="button">Go to Gallery</button>
