/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }

body
{
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-image: url("\Users\glenel.tubera\gallery\src\assets\background images\captain.png");
  background-position: center;
  background-position: fixed;
  background-size: cover;
  color: white;
}




