<h1>
    Welcome to My Gallery!
 </h1>

<div class="first">
  <input
    class="search"
    [(ngModel)]="searchQuery"
    type="text"
    placeholder="Search Image like Animals, Nature, Object and etc..."
    (keyup.enter)="searchImages(searchQuery)"
  />
  <button (click)="searchImages(searchQuery); resetElement()" type="button">
    Search
  </button>
</div>

<div>
  <p *ngIf="searching">Searching for images, please wait...</p>

  <div class="main-container">
    <div routerLink="image-detail" (click)= onClick(image)
    *ngFor="let image of images | paginate: { itemsPerPage: 18, currentPage: p }" class="image-container">

      <div>
        <img src="{{ image.webformatURL }}"/>
      </div>


      <!-- {{image | json}} -->

      <div class="description">
        <div>Id: {{ image.id }}</div>
        <div>Tags: {{ image.tags }}</div>
        <div>Likes: {{ image.likes }}</div>
        <div>Views: {{ image.views }}</div>
      </div>
    </div>
  </div>

  <footer class="bottom">
    <pagination-controls (pageChange)="p = $event" *ngIf="footer">
    </pagination-controls>
  </footer>
</div>
