input[type="text"] {
  width: 30%;
  padding: 12px 20px;
  margin: 8px 8px;
  border: 1px solid #ccc;
}

button[type="button"] {
  width: 10%;
  background-color: gray;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type="button"]:hover {
  background-color: #4565a0;
}

.first {
  border-radius: 10px;
  background-color: transparent;
  padding: 10px;
}

.main-container {
  width: 100%;
  height: 100%;
}

div.image-container {
  border: 1px solid #ccc;
  float: left;
  width: 475.65px;
  overflow: hidden;
  cursor: pointer;
  margin-left: 35px;
  margin-bottom: 50px;
  border-radius: 150%;

}



div.image-container img {
  width: 100%;
  height: 250px;
  transition: transform .5s;
/*   clip-path: polygon(0% 0%, 66% 0, 100% 50%, 67% 100%, 0% 100%); */
}



div.image-container:hover {
  border: 1px solid #777;

}

div.image-container:hover img {

  transform: scale(1.1);
}

div.description {
  padding: 15px;
  text-align: left;
}

.bottom {
   position: fixed;
   bottom: -17px;
   margin: 0;
   width: 100%;
   background-color: white;
   text-align: center;
}
